// FONT-SIZE
$p4: 12px;
$p3: 13px;
$p2: 14px;
$p1: 16px;
$p0: 40px;
$h6: 18px;
$h5: 23px;
$h4: 24px;
$h3: 34px;
$h2: 46px;
$h1: 52px;

//FONT-WEIGHT
$fwLight: 300;
$fwMedium:400;
$fwRegular: 500;
$fwBold: 700;

//TEXT-COLOR
$txtWhite: #fff;
$txtOrange: #fbbd61;
$txtDarkOrange: #ec7532;
$txtGrey: #4a4a4a;
$txtLightGrey: #717171;
$txtDark: #101010;

//BACKGROUND
$white: #fff;
$light: #d8d8d8;
$darkGrey: #4a4a4a;
$dark: #101010;
$orange: #fbbd61;
$darkOrange: #ec7532;
$black90: rgba(0, 0, 0, 0.9);
